/* edits the linkedin logo */
#linkedin {
    width: 100px;
    height: 27px;
}

/* edits the instagram logo */
#insta {
    background-color: white;
    width: 115px;
    height: 32px;
}

/* will remove the blue color for it being a link */
a i {
    color: black;
}
