<!DOCTYPE html>
<html>
    <head>
        <title>OMDb - API</title>
            <!-- Semantic UI CSS -->
            <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css'>

            <!-- CSS -->
            <!-- rename to fit just blog only -->
            <link rel='stylesheet' type='text/css' href='/stylesheets/movieApi.css'>
    </head>
    <body>
        <!-- menu -->
        <div class="ui inverted segment">
            <div class="ui inverted secondary menu container">
                <div class='header item'>
                    <i id='bigIcon' class='film icon'></i>Movie API
                </div>
                <a href='/api/movieapi' class="item">
                    Home
                </a>
                <div class="right menu">
                    <div class="item">
                        <form action="/api/movieapi/result" method="GET">
                            <div class="ui icon action input focus">
                                <input type="text" placeholder="Search Movie..." name='search'>
                                <button class='ui icon red button' type='submit'>
                                    <i class="search link icon"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>