<!DOCTYPE html>
<html>
    <header>
        <title>Basic Blog</title>
            <!-- Semantic UI CSS -->
            <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css'>
            
            <!-- CSS -->
            <!-- rename to fit just blog only -->
            <link rel='stylesheet' type='text/css' href='/stylesheets/blog.css'>
    </header>
    <body>
        <div class='ui fluid four item menu inverted huge fixed'>
            <div class='ui container'>
                <a class='item noHover'><i class='keyboard outline icon'></i>BlogMe</a>
                <a href='/' class='item'>Home</a>
                <a href='/blog' class='item'>View Blog</a>
                <a href='/blog/new' class='item'>Post Blog</a>
            </div>
        </div>