<%- include('partials/header') %>

<!-- put them in rows -->
<div class='container'>
    <h1 class='pt-2 text-center'>APIs</h1>
    <p class='text-center'>In this page you will get a list of various APIs and my implementation of them</p>
</div>

<div class='container'>
    <div class='row py-3 d-flex justify-content-around'>

        <!-- Github API -->
        <div class='p-0 card-padding card col-md-3' style='width: 18rem'>
            <img src='https://i.pinimg.com/600x315/2c/b6/70/2cb670b6ddd8922a1c1b2fee4f6f758c.jpg' class='card-img-top' alt='github image'>
            <div class='card-body'>
                <h5 class='card-title text-center'>Github</h5>
                <p class='card-text'>Viewing the various repositories in my profile</p>
                <a href='/api/github' class='btn btn-primary'>Try it Out</a>
            </div>
        </div>

        <!-- OMDb API -->
        <div class='p-0 card-padding card col-md-3' style="width: 18rem">
            <img src='https://code.4noobz.net/wp-content/uploads/2018/10/OMDB-API.png' class='card-img-top' alt='...'>
            <div class='card-body'>
                <h5 class='card-title text-center'>Movie Database</h5>
                <p class='card-text'>Implementing functionality of this API to search movies</p>
                <a href='/api/movieapi' class='btn btn-primary'>Try it Out</a>
            </div>
        </div>
        
        <!-- JSON Placeholder API (not implemented) -->
        <div class='p-0 card-padding card col-md-3' style="width: 18rem">
            <img src='https://www.devapp.it/wordpress/wp-content/uploads/2016/06/JSONPlaceholder-fake-online-api-rest-642x336.jpg'
                class='card-img-top' alt='...'>
            <div class='card-body'>
                <h5 class='card-title text-center'>JSON Placeholder</h5>
                <p class='card-text'>Fake data</p>
                <a href='/' class='btn btn-primary'>Try it Out</a>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>