<%- include('partials/header') %>


<!-- put them in rows -->
<div class='container'>
    <div class='card' style="width: 18rem">
        <img src='https://code.4noobz.net/wp-content/uploads/2018/10/OMDB-API.png' class='card-img-top' alt='...'>
        <div class='card-body'>
            <h5 class='card-title'>Movie Database</h5>
            <p class='card-text'>Implementing functionality of this API to search movies</p>
            <a href='api/movieapi' class='btn btn-primary'>Try it Out</a>
        </div>
    </div>
</div>

<div class='container'>
    <div class='card' style="width: 18rem">
        <img src='https://www.devapp.it/wordpress/wp-content/uploads/2016/06/JSONPlaceholder-fake-online-api-rest-642x336.jpg' class='card-img-top' alt='...'>
        <div class='card-body'>
            <h5 class='card-title'>JSON Placeholder</h5>
            <p class='card-text'>Fake data</p>
            <a href='/' class='btn btn-primary'>Try it Out</a>
        </div>
    </div>
</div>

<%- include('partials/footer') %>