<%- include('partials/header'); %>

<!-- jumbotron -->
<div class="jumbotron">
    <section class="container">
        <div class="row content">
            <div class="col-md-6 order-2 order-md-1 text-center">
                <h1 class="display-4">Miguel Menjivar</h1>
                <hr class="sm-6">
                <h1>COMPUTER SCIENCE</h1>
            </div>
            <div class="col-md-6 order-1 order-md-2">
                <h1>IMAGE WILL GO HERE!</h1>
            </div>
        </div>
    </section>
</div>

<!-- Body of webpage -->
<div class="container">
    <div class='row'>
        <!-- SOCIAL MEDIA FOR BIG SCREENS ONLY-->
        <div class='col-md-3 d-none d-md-block d-md-none'>
            <ul class="list-group">
                <li class="list-group-item disabled text-center" aria-disabled="true">Social Media</li>
                <li class="list-group-item">
                    <a class='text-decoration-none' href='https://github.com/mamenjivar' target='_blank'>
                        Github <i class="fab fa-github pull-right"></i>
                    </a>
                </li>
                <li class='list-group-item'>
                    <a class='text-decoration-none' href='https://www.linkedin.com/in/mamenjivar/' target='_blank'>
                        LinkedIn <i class="fab fa-linkedin-in"></i>
                    </a>
                </li>
                <li class='list-group-item'>
                    <a class='text-decoration-none' href='https://instagram.com/miggy223' target='_blank'>
                        Instagram <i class='fab fa-instagram'></i>
                    </a>
                </li>
            </ul>
        </div>

        <!-- About Me -->
            <div class="col-md-4 text-center pt-5 order-2 order-md-1 border-bottom border-success">
                <h1>About Me</h1>
            </div>
            <div class="col-md-5 text-center order-1 order-md-2">
                <a href="/home/about"><i class="fas fa-user-tie fa-9x"></i></a>
            </div>
    </div>

    <div class='row'>
        <div class='col-md-3'>
        </div>
        <!-- Education -->
        <div class="col-md-4 d-flex justify-content-center">
            <i class="fas fa-graduation-cap fa-9x"></i>
        </div>
        <div class="col-md-5 text-center border-bottom border-success">
            <!-- text center -->
            <h1>Cal Poly Pomona</h1>
            <br>
            <p>Class of 2019</p>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-3'>
        </div>
        <!-- Occupation -->
            <div class="col-md-4 text-center pt-4 pb-2 order-2 order-md-1 border-bottom border-success">
                <h1>Occupation</h1>
                <br>
                <p>Recreation Technician - BRIC</p>
            </div>
            <div class="col-md-5 text-center pt-3 pb-3 order-1 order-md-2">
                <i class="fas fa-briefcase fa-9x"></i>
            </div>
    </div>

    <div class='row'>
        <div class='col-md-3'>
        </div>
        <!-- Resume -->
            <div class="col-md-4 d-flex justify-content-center pb-3 pt-3">
                <a href='/resume' target='_blank'><i class="fas fa-file-alt fa-9x"></i></a>
            </div>
            <div class="col-md-5 text-center pt-5 border-bottom border-success">
                <h1>Resume</h1>
            </div>
    </div>

    <!-- SOCIAL MEDIA ON SMALL SCREENS ONLY-->
    <div class='col d-block d-md-none pb-3'>
        <ul class="list-group">
            <li class="list-group-item disabled text-center" aria-disabled="true">Social Media</li>
            <li class="list-group-item">
                <a class='text-decoration-none' href='https://github.com/mamenjivar' target='_blank'>
                    Github <i class="fab fa-github pull-right"></i>
                </a>
            </li>
            <li class='list-group-item'>
                <a class='text-decoration-none' href='https://www.linkedin.com/in/mamenjivar/' target='_blank'>
                    LinkedIn <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
            <li class='list-group-item'>
                <a class='text-decoration-none' href='https://instagram.com/miggy223' target='_blank'>
                    Instagram <i class='fab fa-instagram'></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<%- include('partials/footer'); %>