<%- include('partials/headerMovieApi') %>

<div class='ui container centered text'>
    <h1>Powered by <a href='http://www.omdbapi.com'>OMDb API</a></h1>
    
    <p>Here in this page, you can use this API to search up movies. </p>
    <a href='/api' class='ui blue button'>
        Go Back
    </a>
</div>


<%- include('partials/footer') %>