.navbar {
    padding: 0;
}
 
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    background: grey;
}

/* edits the linkedin logo */
#linkedin {
    width: 100px;
    height: 27px;
}

/* edits the instagram logo */
#insta {
    background-color: white;
    width: 115px;
    height: 32px;
}

/* will remove the blue color for it being a link */
a i {
    color: black;
}