.navbar {
    padding: 0;
}
 
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    background: grey;
}

/* will remove the blue color for it being a link */
a i {
    color: black;
}

.icon-right {
    display: inline;
}

/* removes link color */
li a {
    color: black;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* having all images same size
for cards */
.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: fill;
}