<%- include('../partials/headerBlog') %>

<div class='ui main container'>
    <div class='ui huge header'>Post Blog</div>
    <form class='ui form' action='/blog' method='POST' autocomplete="off">
        <div class='field'>
            <label>Blog Title: </label>
            <input type='text' name='blog[title]' placeholder='Blog Name'>
        </div>
        <div class='field'>
            <label>Blog Author Name: </label>
            <input type='text' name='blog[author]' placeholder='Author'>
        </div>
        <div class='field'>
            <label>Blog Content: </label>
            <textarea name='blog[body]'></textarea>
        </div>
        <button class='ui primary button' type='submit'>
            Submit
        </button>
        <button class='ui button red' type='reset'>
            Reset
        </button>
    </form>
</div>

<%- include('../partials/footerBlog') %>